@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #F9FAFB; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f9fafb
}

nav {
    /* background-color: #fff; */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.64);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0px;
    padding-inline: 40px;
    height: 70px;
    border-bottom: 2px solid #5f636898;
    z-index: 1;
}

.right-nav {
    display: flex;
    font-weight: 200;
    gap: 20px;
}

.right-nav h3 {
    font-size: 1rem;
    background: transparent;
    color: #5f6368;
}

.right-nav a {
    text-decoration: none;
}

.right-nav h3:hover {
    color: #f9ab00;
    transition: all .2s ease;
    cursor: pointer;
}

.left-nav a img {
    padding-block: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.75rem;
}

main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh-60px);
    padding-inline: 40px;
    background-color: #f9fafb;
}

left-main {
    width: 786px;
    padding-left: 40px;
}

left-main h1 {
    color: #5f6368;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
}

left-main h1 span {
    text-decoration: wavy;
    color: #f9ab00;
}

left-main h4 {
    color: #4D5765;
    font-weight: 500;
}

left-main h4 span {
    color: #f9ab00;
}

right-main img {
    width: 30rem;
}

main-foot {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main-foot i {
    font-size: 1.5rem;
    animation: upAndDown 2s ease-in-out infinite;
    margin-block: 60px;
}

@keyframes upAndDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.main2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #f9fafb;
    height: 100vh;
    position: relative;
    /* background-image: url(./assets/./arabica-323.png); */
}

main2-bg {
    background-image: url(./assets/arabica-323.png);
    height: 100%;
    width: 100vw;
    background-size: 38rem;
    background-repeat: no-repeat;
    background-position: right;
    /* margin-left: 40px; */
    position: absolute;
    right: 0px;
    opacity: 20%;
}

main2-top {
    flex-direction: column;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: #4D5765;
}

main2-top h2 {
    font-size: 4rem;
    color: #4B5563;
    margin-top: 60px;
}

main2-top h3 {
    font-weight: 500;
    font-size: 1.3rem;
}

main2-top h3:nth-child(3) {
    width: 40rem;
}

main2-foot {
    display: flex;
}


.cards {
    display: flex;
    padding-inline: 100px;
    gap: 80px;
    text-align: left;
}

.card {
    width: 150px;
}

.card .Seminar {
    background-color: #F9EEB1;
    width: fit-content;
    border-radius: 4px;
    color: #D9A40D;
    margin-bottom: 10px;
    padding: 6px;
}

.card .Project {
    background-color: #EFCABB;
    width: fit-content;
    border-radius: 4px;
    color: #DC4A3D;
    margin-bottom: 10px;
    padding: 6px;
}

.card .Workshop {
    background-color: #D5E0EF;
    width: fit-content;
    border-radius: 4px;
    color: #3975D8;
    margin-bottom: 10px;
    padding: 6px;
}

.card .Hackathon {
    background-color: #C5D8C1;
    width: fit-content;
    border-radius: 4px;
    color: #2B9758;
    margin-bottom: 10px;
    padding: 6px;
}

.card p {
    font-weight: 600;
    color: #4D5765;
}

main2-foot i {
    font-size: 1.5rem;
    animation: upAndDown 2s ease-in-out infinite;
    margin-bottom: 10px;
}

.main3 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    text-align: center;
    position: relative;
}

main3-bg {
    background-image: url(./assets/urban-finishing-tape-1.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
    position: absolute;
    opacity: 20%;
}

main3-top {
    flex-direction: column;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    width: 100%;
    align-items: center;
    color: #4D5765;
}

main3-top h2 {
    font-size: 4rem;
    color: #4B5563;
    margin-top: 60px;
}

.year {
    font-weight: 500;
    font-size: 1.3rem;
    width: 53.125rem;
    color: #232323;
}

main3-top h3 {
    font-weight: 500;
    font-size: 1.3rem;
    width: 53.125rem;
}


.bcard {
    width: 190px;
    height: 254px;
    background: #fff;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
    box-shadow: 0 8px 50px #23232333;
    border-radius: 6px;
}

.bcard-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}

/*Image*/
.bcard-avatar img {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}


.bcard-social {
    transform: translateY(100%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    transition: transform .2s ease, opacity .2s ease;
}

.bcard-social__item {
    list-style: none;
}

.bcard-social__item svg {
    display: block;
    height: 18px;
    width: 18px;
    font-size: 1.3rem;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease, transform 0.2s ease;
}

.bcard-title {
    color: #333;
    font-size: 1em;
    font-weight: 600;
    line-height: 2rem;
}

.bcard-subtitle {
    color: #859ba8;
    font-size: 0.8em;
}

.bcard:hover {
    transform: scale(1.1);
}

.bcard:hover .bcard-info {}

.bcard:hover .bcard-social {}


.bcard-avatar:hover {
    transition: all .2s ease-in-out;
}

.bcard .bcard-social :hover {
    cursor: pointer;
    transform: scale(1.1);
    fill: #232323;
    transition: all .2s ease-in-out;
}

.bcard {
    text-align: center;
}

.bcard-avatar img {
    max-width: 100px;
    border-radius: 50%;
}

bcard-lvl1 {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

boards-card {
    padding: 0;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    margin-top: 30px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.button svg path {
    transition: 400ms;
}

.button:hover {
    background-color: transparent;
}

.button:hover .text {
    color: #181717;
}

.button:hover svg path {
    fill: #181717;
}

main3-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main4 {
    height: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-inline: 40px;
    width: 100%;
    position: relative;
}

main4-top h2 {
    font-size: 4rem;
    color: #4B5563;
    margin-top: 60px;
    text-align: center;
}

main4-top h4 {
    padding-inline: 40px;
    color: #4B5563;
    font-size: 2rem;
}

event-card {
    width: 280px;
    height: 100px;
    display: flex;
    /* border: 1px solid black; */
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 8.5px 3px #7a7a7a;
    -moz-box-shadow: 3px 3px 8.5px 3px #7a7a7a;
    box-shadow: 3px 3px 8.5px 3px #7a7a7a;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 10px 40px;
    /* padding: 40px; */

}

.new-events {
    margin-bottom: 20px;
}

event-card .photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: #181717;
    text-decoration: none;
    font-size: 15px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.eve-det {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.Btn {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}

.svgIcon {
    width: 16px;
}

.svgIcon path {
    fill: white;
}

.Btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}

.Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%, -50%);
    border-radius: 0;
}

.Btn:active {
    transform: translate(5px, 5px);
    transition-duration: .3s;
}

.past-events {
    display: flex;
}

main4-foot {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main4-foot i {
    font-size: 1.5rem;
    animation: upAndDown 2s ease-in-out infinite;
    margin-bottom: 10px;
}

.new-events{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}