@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    user-select: none;
    z-index: 1;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f9fafb;
    overflow-x: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background: rgba(255, 255, 255, 0.545);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 90%;
    margin: auto;
    /* padding-inline: 50px; */
    top: 20px;
    height: 60px;
    z-index: 5;
}

.right-nav {
    display: flex;
    font-weight: 200;
    gap: 1rem;
}

.right-nav h3 {
    font-size: 0.8rem;
    color: #5f6368;
}

.right-nav a {
    text-decoration: none;
}

.right-nav h3:hover {
    color: #f9ab00;
    transition: all 0.2s ease;
    cursor: pointer;
}

.left-nav a img {
    padding: 5px;
    height: 3.2rem;
    margin-top: 4px;
}

main {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 70px); */
    padding-inline: 5%;
    /* width: 100%; */
    background-color: #f9fafb;
}

left-main {
    width: 100%;
    padding-left: 5%;
}

left-main h1 {
    color: #5f6368;
    font-size: 2rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
}

left-main h1 span {
    text-decoration: wavy;
    color: #f9ab00;
}

left-main h4 {
    color: #4d5765;
    font-weight: 500;
}

left-main h4 span {
    color: #f9ab00;
}

right-main img {
    max-width: 100%;
}

main-foot {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main-foot i {
    font-size: 1.5rem;
    animation: upAndDown 2s ease-in-out infinite;
    margin-block: 2.5rem;
}

@keyframes upAndDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.main2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background-color: #f9fafb;
    min-height: 100vh;
    position: relative;
    /* padding-block: 40px; */
    /* justify-content: center; */
}

main2-bg {
    background-image: url(./assets/arabica-323.png);
    height: 100%;
    width: 100vw;
    background-size: 38rem;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    z-index: 0;
    right: 0;
    opacity: 0.2;
}

main2-top {
    flex-direction: column;
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: #4d5765;
}

main2-top h2 {
    font-size: 2.5rem;
    color: #4b5563;
    margin-top: 2.5rem;
}

main2-top h3 {
    font-weight: 500;
    font-size: 1.3rem;
}

main2-top h3:nth-child(3) {
    width: 30rem;
}

main2-foot {
    display: flex;
}

.cards {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding-inline: 5%;
    gap: 2rem;
    /* width: 80%; */
    text-align: left;
}

.card {
    width: 150px;
}

.card .Seminar {
    background-color: #f9eeb1;
    width: fit-content;
    border-radius: 4px;
    color: #d9a40d;
    margin-bottom: 0.625rem;
    padding: 0.375rem;
}

.card .Project {
    background-color: #efcabb;
    width: fit-content;
    border-radius: 4px;
    color: #dc4a3d;
    margin-bottom: 0.625rem;
    padding: 0.375rem;
}

.card .Workshop {
    background-color: #d5e0ef;
    width: fit-content;
    border-radius: 4px;
    color: #3975d8;
    margin-bottom: 0.625rem;
    padding: 0.375rem;
}

.card .Hackathon {
    background-color: #c5d8c1;
    width: fit-content;
    border-radius: 4px;
    color: #2b9758;
    margin-bottom: 0.625rem;
    padding: 0.375rem;
}

.card p {
    font-weight: 600;
    color: #4d5765;
}

main2-foot i {
    font-size: 1.5rem;
    animation: upAndDown 2s ease-in-out infinite;
    margin-bottom: 0.625rem;
}

.main3 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    text-align: center;
    position: relative;
}

main3-bg {
    background-image: url(./assets/urban-finishing-tape-1.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    background-position: center;
    position: absolute;
    opacity: 0.2;
}

main3-top {
    flex-direction: column;
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    text-align: center;
    width: 100%;
    align-items: center;
    color: #4d5765;
}

main3-top h2 {
    font-size: 2.5rem;
    color: #4b5563;
    margin-top: 2.5rem;
}

.year {
    font-weight: 500;
    font-size: 1.3rem;
    width: 33.125rem;
    color: #232323;
}

main3-top h3 {
    font-weight: 500;
    font-size: 1.3rem;
    width: 33.125rem;
}

.bcard {
    width: 190px;
    height: 254px;
    background: #fff;
    padding-top: 1.1rem;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    box-shadow: 0 8px 50px #23232333;
    border-radius: 6px;
}

.bcard-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.bcard-avatar img {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform 0.2s ease;
    margin-bottom: 1.25rem;
}

.bcard-social {
    transform: translateY(100%);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.bcard-social__item {
    list-style: none;
}

.bcard-social__item svg {
    display: block;
    height: 18px;
    width: 18px;
    font-size: 1.3rem;
    fill: #515f65;
    cursor: pointer;
    transition: fill 0.2s ease, transform 0.2s ease;
}

.bcard-title {
    color: #333;
    font-size: 1em;
    font-weight: 600;
    line-height: 2.5rem;
}

.bcard-subtitle {
    color: #859ba8;
    font-size: 0.8em;
}

.bcard:hover {
    transform: scale(1.1);
}

.bcard-avatar:hover {
    transition: all 0.2s ease-in-out;
}

.bcard .bcard-social :hover {
    cursor: pointer;
    transform: translateY(-2px);
    fill: #232323;
    transition: all 0.2s ease-in-out;
}

.bcard {
    text-align: center;
}

.bcard-avatar img {
    max-width: 100px;
    border-radius: 50%;
}

bcard-lvl1 {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

boards-card {
    padding: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    margin-top: 1.25rem;
    background-color: #181717;
    outline: 3px solid #181717;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.button svg path {
    transition: 400ms;
}

.button:hover {
    background-color: transparent;
}

.button:hover .text {
    color: #181717;
}

.button:hover svg path {
    fill: #181717;
}

main3-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main4 {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    /* align-items: center; */
    padding-inline: 5%;
    width: 100%;
    position: relative;
}

main4-top h2 {
    font-size: 2.5rem;
    color: #4b5563;
    margin-top: 2.5rem;
    text-align: center;
}

main4-top h4 {
    padding-inline: 5%;
    color: #4b5563;
    font-size: 2rem;
}

event-card {
    width: 280px;
    height: 100px;
    display: flex;
    border-radius: 5px;
    box-shadow: 3px 3px 8.5px 3px #7a7a7a;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.25rem 0 0.625rem 2.5rem;
    padding: 1rem;
}

.new-events {
    margin-bottom: 1.25rem;
}

event-card .photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: #181717;
    text-decoration: none;
    font-size: 0.9375rem;
    border: none;
    background: none;
    font-weight: 600;
    /* width: 10px; */
    font-family: 'Poppins', sans-serif;
}

.eve-det {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.625rem;
}

.Btn {
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 0.3125rem;
    cursor: pointer;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
}

.btn:hover {
    color: rgb(15, 15, 15);
    background-color: white;
    transition: all .2s ease-in-out;
}

.svgIcon {
    width: 1rem;
}

.svgIcon path {
    fill: white;
}

.past-events {
    display: flex;
}

main4-foot {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    width: 100%;
}

main4-foot i {
    font-size: 1.5rem;
    animation: upAndDown 2s ease-in-out infinite;
    /* margin-bottom: 0.625rem; */
}

.new-events {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main5 {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    padding-inline: 5%;
    width: 100vw;
    position: relative;
}

/* main4-bg {
    background-image: url(./assets/kingdom-72.webp);
    height: 10vh;
    width: 10vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    background-position: center;
    right: 0;
    top: 200px;
    position: absolute;
    opacity: 0.2;
} */

main5-bg {
    background-image: url(./assets/cyborg-opac20.b4381723.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    /* z-index: 0; */
    background-position: center;
    position: absolute;
    opacity: 0.2;

}

main5-top h2 {
    font-size: 5rem;
    font-weight: 500;
    color: #4b5563;
    margin-block: 2.5rem;
    text-align: center;
}

main5-top h4 {
    padding-inline: 5%;
    color: #4b5563;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

main5-between a {
    color: #4d5765;
}

main5-between .bet-top {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 2.5rem;
    color: #4d5765;
    z-index: 2;
}

.bet-top i:hover {
    transform: translateY(-2px);
    /* cursor: pointer; */
}

main5-between .bet-bot {
    /* text-align: center; */
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 45px;
    font-size: 2.5rem;
    color: #4d5765;
}

.bet-bot i:hover {
    transform: translateY(-2px);
    /* cursor: pointer; */
}

main5-between {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m5-p {
    color: #4d5765;
    text-align: center;
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 500;
}

@media only screen and (max-width: 770px) {
    nav {
        padding-inline: 80px;
        /* Adjust the padding for smaller screens */
    }

    .right-nav {
        display: none;
    }

    main {
        padding-inline: 20px;
        /* Adjust the padding for smaller screens */
        flex-direction: column;
        align-items: center;
    }

    main a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main-foot i {
        display: none;
    }

    left-main {
        width: 100%;
        padding-left: 20px;
        text-align: center;
    }

    left-main h1 {
        font-size: 28px;
    }

    left-main h4 {
        font-size: 18px;
    }

    right-main img {
        width: 100%;
        max-width: 300px;
    }

    main2-top {
        padding-inline: 40px;
    }

    main2-top h2 {
        font-size: 2.5rem;
    }

    main2-top h3 {
        font-size: 1rem;
        width: 100%;
    }

    main2-top h3:nth-child(3) {
        /* width: 30px; */
        padding-inline: 80px;
    }

    main2-foot {
        padding-block: 20px;
        /* width: fit-content; */
    }

    .main2-foot .cards>.card>h3 {
        text-align: center;
    }

    .cards {
        /* flex-direction: column; */
        flex-wrap: wrap;
        padding-inline: 20px;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: auto;
        text-align: center;
    }

    .card p {
        /* text-align: left; */
    }

    .main3-top h2 {
        font-size: 2.5rem;
    }

    .year {
        font-size: 1rem;
        width: 100%;
    }

    .main3-top h3 {
        font-size: 1rem;
        width: 100%;
    }

    .bcard {
        width: 100%;
    }

    .bcard-avatar img {
        max-width: 80px;
    }

    .button {
        margin-top: 20px;
    }

    .button .text {
        font-size: 0.8rem;
    }
}

/* Medium devices (tablets) */
@media only screen and (max-width: 570px) {
    nav {
        display: none;
    }

    main {
        /* margin-top: 80px; */
        width: 100%;
        margin: 40px;
    }

    main-foot {
        text-align: center;
    }

    .main2-top h2,
    .main2-top h3,
    .main2-foot i,
    .main3-top h2,
    .main3-top h3,
    .main4-top h2,
    .main4-top h4,
    .main4-foot i {
        font-size: 2rem;
    }

    .main2-top h3:nth-child(3),
    .year,
    .bcard-title,
    .bcard-subtitle {
        width: 100%;
    }

    .main2-foot .cards {
        padding-inline: 20px;
        gap: 40px;
    }

    .card {
        width: 100%;
    }

    .card h3 {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .main3,
    .main4 {
        gap: 20px;
    }

    .event-card,
    .bcard {
        width: 100%;
    }

    .button .text {
        font-size: 0.8rem;
    }


}